table {
  min-width: 1000px;
}

col.col-date {
  width: 140px;
}

col.col-category {
  width: 170px;
}

col.col-status {
  width: 200px;
}

col.col-amount {
  width: 130px;
}

.amount-cell {
  text-align: right;
  font-weight: 700;

  &.income {
    color: var(--income-amount);
  }

  &.expense {
    color: var(--expense-amount);
  }
}

@media (max-width: 680px) {
  table {
    min-width: 0;
  }

  .amount-cell {
    text-align: left;
    font-size: var(--fs-body);
  }
}
